/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml

\# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.so

build/
dist/
*.egg-info/
.eggs/

.venv/
venv/
ENV/
env/

.idea/

.ipynb_checkpoints/

.DS_Store
Thumbs.db

*.log

.env
*.env

.pytest_cache/

htmlcov/
.coverage
.coverage.*

*.sqlite3

models/
data/
